# Java compiled code
*.class
*.war
*.ear

# eclipse and setting files
*/eclipse
*/bin
*.launch
.settings/
.metadata

/**/RemoteSystemsTempFiles

# Hidden files
.*
!.gitignore
.classpath
.project

# Temporary files
*/tmp
*~
*.tmp
*.bak
*.orig
._*

# OS specifc files
Thumbs.db
Desktrop.ini
.DS_Store
.directory

# Other files
RemoteSystemsTempFiles/
NullSpy/src/ch/unibe/scg/nullSpy/testRun/
JHotDraw/
jhotdraw60b1/
NullSpy/src/isFieldOrLocalVariableNullExample/
NullSpy/src/Lustig.java
CatchTest/